spa2014-header {
    display: block;
    background-image: linear-gradient(#F9F9F9, #F3F3F3);
}

spa2014-header.no-error .error-message,
spa2014-header.logged-out button[name="logout"] {
    visibility: hidden;
}